.preload * {
  transition: 0s !important;
}

.anim:not(.custom) {
  opacity: 0;
  transition: opacity 0.45s ease, transform 0.45s ease;

  @amount: 20px;

  &.anim-l {
    transform: translate3d(-@amount, 0, 0);
  }

  &.anim-r {
    transform: translate3d(@amount, 0, 0);
  }

  &.anim-t {
    transform: translate3d(0, -@amount, 0);
  }

  &.anim-b {
    transform: translate3d(0, @amount, 0);
  }

  &.active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
