.dis-b {
  display: block;
}

.dis-ib {
  display: inline-block;
}

.dis-i {
  display: inline;
}

.dis-f {
  display: flex;
}

.dis-n {
  display: none !important;
}

@media @desktop {
  .des-dis-n {
    display: none !important;
  }
}

@media @tablet {
  .tab-dis-n {
    display: none !important;
  }
}

@media @mobile {
  .mob-dis-n {
    display: none !important;
  }
}

.equal {
  display: flex;
  flex-flow: row wrap;
}

.cent {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.cent-col {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.fade {
  opacity: 0.6;
}

.no-scroll {
  overflow: hidden;
}

.scroll,
.scroll-x {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.scroll-x {
  overflow-y: hidden;
}
