.c12 {
  max-width: 1450px;
  padding: 0 2%;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;

  &:before,
  &:after {
    content: '.';
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
  }

  &:after {
    clear: both;
  }

  .g1,
  .g2,
  .g3,
  .g4,
  .g5,
  .g6,
  .g7,
  .g8,
  .g9,
  .g10,
  .g11,
  .g12 {
    float: left;
    margin-left: 1.75%;
    margin-right: 1.75%;

    &.right {
      float: right;
    }

    &.cent-ali {
      display: block;
      float: none;
      margin-left: auto;
      margin-right: auto;
      clear: both;
    }
  }

  &.rev {
    flex-flow: row-reverse wrap;

    .g1,
    .g2,
    .g3,
    .g4,
    .g5,
    .g6,
    .g7,
    .g8,
    .g9,
    .g10,
    .g11,
    .g12 {
      float: right;
    }
  }

  .g1 {
    width: 4.833333%;
  }

  .g2 {
    width: 13.166666%;
  }

  .g3 {
    width: 21.5%;
  }

  .g4 {
    width: 29.833333%;
  }

  .g5 {
    width: 38.166666%;
  }

  .g6 {
    width: 46.5%;
  }

  .g7 {
    width: 54.833333%;
  }

  .g8 {
    width: 63.166666%;
  }

  .g9 {
    width: 71.5%;
  }

  .g10 {
    width: 79.833333%;
  }

  .g11 {
    width: 88.166666%;
  }

  .g12 {
    width: 96.5%;
  }
}

@media @tablet {
  .c12 {
    padding: 0 3%;

    &.tab-rev {
      display: flex;
      flex-direction: column-reverse;
    }

    > .tab-100 {
      width: 93% !important;
    }
  }
}

@media @mobile {
  .c12 {
    min-width: 0;
    padding: 0 3%;

    &.mob-rev {
      display: flex;
      flex-direction: column-reverse;
    }

    .g1,
    .g2,
    .g3,
    .g4,
    .g5,
    .g6,
    .g7,
    .g8,
    .g9,
    .g10,
    .g11,
    .g12 {
      &:not(.no-mob) {
        width: 93%;
        margin-left: 3.5%;
        margin-right: 3.5%;
      }

      &.mob-50 {
        width: 44.75%;
        margin-left: 3.5%;
        margin-right: 0;
      }
    }
  }
}

.clear {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}
