.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.a-sq {
  padding-bottom: 100%;
}

.a-16-15 {
  padding-bottom: 93.75%;
}

.a-16-14 {
  padding-bottom: 87.5%;
}

.a-16-13 {
  padding-bottom: 81.25%;
}

.a-16-12 {
  padding-bottom: 75%;
}

.a-16-11 {
  padding-bottom: 68.75%;
}

.a-16-10 {
  padding-bottom: 62.5%;
}

.a-16-9 {
  padding-bottom: 56.25%;
}

.a-16-8 {
  padding-bottom: 50%;
}

.a-16-7 {
  padding-bottom: 43.75%;
}

.a-16-6 {
  padding-bottom: 37.5%;
}

.a-16-5 {
  padding-bottom: 31.25%;
}

.a-16-4 {
  padding-bottom: 25%;
}

.a-16-3 {
  padding-bottom: 18.75%;
}

.a-16-2 {
  padding-bottom: 12.5%;
}

.a-16-1 {
  padding-bottom: 6.25%;
}

.split {
  display: flex;
  flex-flow: row wrap;

  &.right {
    flex-direction: row-reverse;
  }

  &.between {
    justify-content: space-between;

    &.vert {
      align-content: space-between;
    }
  }

  &.around {
    justify-content: space-around;

    &.vert {
      align-content: space-around;
    }
  }

  &.end {
    justify-content: flex-end;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }

  &.mars {
    margin: -20px 0 0 -20px;

    @media @tablet {
      margin: -15px 0 0 -15px;
    }

    @media @mobile {
      margin: -10px 0 0 -10px;
    }

    &.small {
      margin: -10px 0 0 -10px;
    }

    &.no-top {
      margin-top: 0;
    }

    &.no-left {
      margin-left: 0;
    }

    > * {
      border-left: 20px solid transparent;
      border-top: 20px solid transparent;

      @media @tablet {
        border-left: 15px solid transparent;
        border-top: 15px solid transparent;
      }

      @media @mobile {
        border-left: 10px solid transparent;
        border-top: 10px solid transparent;
      }
    }

    &.small > * {
      border-left: 10px solid transparent;
      border-top: 10px solid transparent;
    }

    &.no-left > * {
      border-left: none;
    }
  }

  @media @mobile {
    &.mob-rev {
      flex-flow: column-reverse;
    }
  }

  .grow {
    flex: 1;
  }

  .s-16 {
    width: 16.667%;
  }

  .s-20 {
    width: 20%;
  }

  .s-25 {
    width: 25%;
  }

  .s-33 {
    width: 33.333%;
  }

  .s-40 {
    width: 40%;
  }

  .s-50 {
    width: 50%;
  }

  .s-60 {
    width: 60%;
  }

  .s-66 {
    width: 66.667%;
  }

  .s-75 {
    width: 75%;
  }

  .s-80 {
    width: 80%;
  }

  .s-100 {
    width: 100%;
  }

  @media @tablet {
    .tab-grow {
      flex: 1;
    }

    .tab-s-16 {
      width: 16.667%;
    }

    .tab-s-20 {
      width: 20%;
    }

    .tab-s-25 {
      width: 25%;
    }

    .tab-s-33 {
      width: 33.333%;
    }

    .tab-s-40 {
      width: 40%;
    }

    .tab-s-50 {
      width: 50%;
    }

    .tab-s-60 {
      width: 60%;
    }

    .tab-s-66 {
      width: 66.667%;
    }

    .tab-s-75 {
      width: 75%;
    }

    .tab-s-80 {
      width: 80%;
    }

    .tab-s-100 {
      width: 100%;
    }
  }

  @media @mobile {
    .mob-grow {
      flex: 1;
    }

    .mob-s-16 {
      width: 16.667%;
    }

    .mob-s-20 {
      width: 20%;
    }

    .mob-s-25 {
      width: 25%;
    }

    .mob-s-33 {
      width: 33.333%;
    }

    .mob-s-40 {
      width: 40%;
    }

    .mob-s-50 {
      width: 50%;
    }

    .mob-s-60 {
      width: 60%;
    }

    .mob-s-66 {
      width: 66.667%;
    }

    .mob-s-75 {
      width: 75%;
    }

    .mob-s-80 {
      width: 80%;
    }

    .mob-s-100 {
      width: 100%;
    }
  }
}

@media @mobile {
  .mob-img {
    height: 240px;
    position: relative;
  }
}
