:root {
  --font-family: @fontFamily;
  --font-size: @fontSize;
  --colour: @colour;

  @media @tablet {
    --font-size: @tabletFontSize;
  }

  @media @mobile {
    --font-size: @mobileFontSize;
  }
}

* {
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: var(--font-size);
  color: var(--colour);
  line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2em;

  + * {
    margin-top: 20px;

    @media @tablet {
      margin-top: 15px;
    }

    @media @mobile {
      margin-top: 10px;
    }
  }

  * + & {
    margin-top: 10px;
  }

  p + & {
    margin-top: 30px;
  }

  &.mar-s {
    margin-top: 10px;

    @media @tablet {
      margin-top: 7px;
    }

    @media @mobile {
      margin-top: 5px;
    }
  }

  &.no-mar {
    margin-top: 0;
  }

  &:empty {
    display: none;
  }
}

h1 {
  font-size: 3.4em;

  @media @tablet {
    font-size: 2.8em;
  }

  @media @mobile {
    font-size: 2.2em;
  }
}

h2 {
  font-size: 3em;

  @media @tablet {
    font-size: 2.5em;
  }

  @media @mobile {
    font-size: 2em;
  }
}

h3 {
  font-size: 2.6em;

  @media @tablet {
    font-size: 2.2em;
  }

  @media @mobile {
    font-size: 1.8em;
  }
}

h4 {
  font-size: 2.2em;

  @media @tablet {
    font-size: 1.9em;
  }

  @media @mobile {
    font-size: 1.6em;
  }
}

h5 {
  font-size: 1.8em;

  @media @tablet {
    font-size: 1.6em;
  }

  @media @mobile {
    font-size: 1.4em;
  }
}

h6 {
  font-size: 1.4em;

  @media @tablet {
    font-size: 1.3em;
  }

  @media @mobile {
    font-size: 1.2em;
  }
}

p,
li {
  font-size: 1em;

  a:hover {
    text-decoration: underline;
  }

  &:empty {
    display: none;
  }
}

* + p {
  margin-top: 15px;

  &.mar-s {
    margin-top: 5px;
  }

  &.mar-m {
    margin-top: 10px;
  }

  &.no-mar {
    margin-top: 0;
  }
}

ul,
ol {
  padding: 20px 0 0 20px;

  &.no-pad {
    padding: 0;
  }

  li {
    list-style: disc;
    line-height: 1.5em;

    &.mar-b {
      margin-top: 10px;
    }

    + li {
      margin-top: 5px;
    }
  }

  &.no-list li {
    list-style: none;
  }
}

ol li {
  list-style: decimal;
}

span,
small {
  &.dis-b {
    line-height: 1em;
  }
}

small {
  font-size: 0.75em;
}

.reg {
  font-weight: 400;
}

.semi {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.t-l {
  text-align: left;
}

.t-cent {
  text-align: center;
}

.t-r {
  text-align: right;
}

.upper {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.caps {
  text-transform: capitalize;
}

.ellip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.norm {
  text-transform: none;
}

.nowrap {
  white-space: nowrap;
}

a {
  color: inherit;
  text-decoration: none;

  &.line:hover {
    text-decoration: underline;
  }
}
